@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%)
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:hsl(213, 19%, 18%);
    font-family: 'Overpass', sans-serif;
    width: 410px;
    border-radius: 20px;
    /* border-radius;100vh */
}

.card {
    padding: 25px;
    padding-left: 30px;
}

img {
    vertical-align: middle;
}

.circle {
  border-radius: 100%;
  background-color: hsl(216, 12%, 54%,0.1);
  padding: 0.65em 0.8em;
}

.outer_icon_circle{
    padding-top: 15px;
}

.title {
    padding-top: 35px;
    color: white;
}

.description {
    padding-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: hsl(0, 0%, 100%,0.4)
}

.buttons {
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.circle_button.different {
    vertical-align: middle;
    border-radius: 50%;
    background-color: hsl(216, 12%, 54%,0.1);
    padding: 0.75em 1.12em;
    color: hsl(0, 0%, 100%,0.5);
    cursor: pointer;

}

.circle_button_1:hover {
    background-color: hsl(217, 12%, 63%);
}

.circle_button:hover {
    background-color: hsl(217, 12%, 63%);
}

.circle_button {
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background-color: hsl(216, 12%, 54%,0.1);
    padding: 0.65em 1em;
    color: hsl(0, 0%, 100%,0.5);
    cursor: pointer;
}

.circle_button.active {
    background-color: hsl(25, 97%, 53%);
    color: white;
}


.outer_submit_button {
    padding-top: 20px;
  }

.submit_button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.submit_button {
  padding: 10px;
  padding-top: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 330px;
  border-radius: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: hsl(25, 97%, 53%);
}

/* After button Click */


.cardactive {
    display: none;
}

.card2 {
    text-align: center;
    padding: 25px;
}

.card2 img {
    padding-top: 15px;
}

.card2select {
    padding-top: 25px;
}

.card2select p {
    color: hsl(25, 97%, 53%);
    background-color: hsl(216, 12%, 54%,0.1);
    padding: 5px;
    width: 200px;
    margin: auto;
    border-radius: 20px;
    font-weight: 400;
}
.card2thankyou {
    padding-top: 20px;
    color: white;
}

.card2p {
    padding-top: 10px;
    color: hsl(0, 0%, 100%,0.3)
}




